body {
    margin: 0;
    padding: 0;
    background: #ebebeb;
}
.custom-nav {
    height: 130px;
}
.custom-nav .navbar-header .brand {
    width: 80%;
}
.custom-nav .navbar-nav li {
    margin-top: 75px;
}
.custom-nav .navbar-nav li> a {
    padding: 15px 45px;
    font-size: 25px;
}
.custom-nav .navbar-nav li> a:hover, .custom-nav .navbar-nav li.active> a:hover {
    background-color: transparent;
}
.custom-nav .navbar-nav li.active> a {
    border-bottom: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}
.main {
    margin-top: 135px;
    padding: 20px;
}
.character-card .character-icon {
    margin: 0 auto;
    width: 200px;
}
.character-card .character-title {
    font-size: 45px;
    text-align: center;
}
.character-card .character-specs span {
    display: block;
    text-align: center;
    font-size: 16px;
}
.about-card .about .character-about-title {
    color: rgb(190, 190, 190);
    font-size: 88px;
    line-height: 150px;
}
.about-card .about .character-sub {
    color: rgb(41, 41, 41);
    font-size: 31px;
    line-height: 38px;
    margin-bottom: 50px;
    text-align: justify;
}
.about-card .about .character-desc {
    color: rgb(84, 84, 84);
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
}
.about-card .relationships {
    margin-top: 50px;
}
.about-card .relationships .thumbnail {
    float: left;
}
.about-card .relationships .info {
    float: left;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(41, 41, 41);
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-card .relationships .info .title {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(41, 41, 41);
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    padding: 11px 14px;
}
.about-card .relationships .info .sub {
    display: block;
    color: rgb(84, 84, 84);
    font-size: 14px;
    line-height: 22px;
    padding: 11px 14px;
}
.characters-cards {
    padding: 20px 0px;
}
.characters-cards .card a {
    display: block;
    border-width: 1px 1px 5px;
    border-style: solid;
    border-color: rgb(154, 154, 154);
    color: rgb(71, 71, 71);
    cursor: pointer;
    visibility: inherit;
    opacity: 1;
}
.characters-cards .card a:hover {
    border-color: rgb(227, 155, 5);
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.characters-cards .card a .title{
  padding: 0px 15px;
}
/* Background Colors */

hr {
    border-top: 1px solid #999;
}
.bg-orange {
    background: rgb(255, 94, 42);
    color: #FFF;
}
.bg-yellow {
    background: rgb(227, 156, 6);
    color: #333;
}
.bg-voilet {
    background: rgb(111, 70, 158);
    color: #FFF;
}
.bg-green {
    background: rgb(136, 163, 70);
    color: #FFF;
}
.bg-blue {
    background: rgb(26, 108, 123);
    color: #FFF
}
.bg-pink {
    background: rgb(144, 1, 65);
    color: #333;
}
